<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Notifications </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (notification of notifications; track notification.id) {
    <ion-item
      [button]="notification.status === 'unread'"
      (click)="changeStatusToRead(notification)"
    >
      <app-notification-item
        [notification]="notification"
      ></app-notification-item>
    </ion-item>
    }
  </ion-list>
</ion-content>
