<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Create notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if(form){
    <form  [formGroup]="form" (ngSubmit)="createNotification()">
      <ion-input fill="outline" label="Title" label-placement="floating" formControlName="title"></ion-input>
      <ion-input fill="outline" label="Body" label-placement="floating" formControlName="body"></ion-input>
      <ion-button [disabled]="!this.form.valid || isLoading" expand="block" type="submit">Create notification</ion-button>
    </form>
  }
  
</ion-content>
