<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Create notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(form){
    <form  [formGroup]="form" (ngSubmit)="createNotification()">
      <ion-input placeholder="Title" fill="outline" formControlName="title"></ion-input>
      <ion-input placeholder="Body" fill="outline" formControlName="body"></ion-input>
      <ion-button [disabled]="!this.form.valid || isLoading" type="submit">Create notification</ion-button>
    </form>
  }
  
</ion-content>
